

body{
    background-color: rgb(184, 204, 204);
}


h5{
    text-align: left;

    margin-left: 400px;
    margin-right: 400px
}
li{
    text-align: left;

    margin-left: 400px;
    margin-right: 400px
}
